@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Outfit', sans-serif;
  font-optical-sizing: auto;
}

.grotesk {
  font-family: 'Host Grotesk', sans-serif;
  font-optical-sizing: auto;
}

/* For the country dropdown component */
.flag {
  background-color: white;
  border-radius: 1.5rem;
  border-style: none !important;
}

/* For the Sidebar layout */
.mainWidth {
  width: calc(100% - 20rem);
  float: right;
}
@media screen and (max-width: 1023px) {
  .mainWidth {
    width: 100%;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

@layer utilities {
  .line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .animate-scroll {
    animation: scroll 30s linear infinite;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}