@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Outfit', sans-serif;
  font-optical-sizing: auto;
}

.grotesk {
  font-family: 'Host Grotesk', sans-serif;
  font-optical-sizing: auto;
}

/* For the country dropdown component */
.flag {
  background-color: white;
  border-radius: 1.5rem;
  border-style: none !important;
}

/* For the Sidebar layout */
.mainWidth {
  width: calc(100% - 20rem);
  float: right;
}
@media screen and (max-width: 1023px) {
  .mainWidth {
    width: 100%;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}